<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title name="title">{{title}}</title>
        <link rel="stylesheet" href="/public/site.css">
    </head>
    <body>
        <main>
            {{{body}}}
        </main>
    </body>
    <footer>
        <p>David Staronka 10440468</p>
    </footer>
</html>